{% schema %}
    {
      "name": "Full Width Video",
      "tag": "section",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "richtext",
          "id": "video_text",
          "label": "Video text",
          "default": "<p>3D-born.<br>Hand-finished.<br>Designed to be felt.</p>",
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Click me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ],
      "presets": [
        {
          "name": "Full Width Video",
          "category": "Video"
        }
      ]
    }
    {% endschema %}
    
    <div class="video-container">
      {% if section.settings.video %}
        {{
          section.settings.video
          | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: 'full-video'
        }}
      {% else %}
        <p>Please upload a video from the section settings.</p>
      {% endif %}
        <div class="video-text">
          {{ section.settings.video_text }}
        </div>
      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <div class="video-overlay">
          <a href="{{ section.settings.button_link }}" class="button video-button">{{ section.settings.button_text }}</a>
        </div>
      {% endif %}
    </div>
    
    <style>
      .video-container {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-top: -77px;
      }
    
      .video-container .full-video {
        width: 100vw;
        height: calc(100vh - 33px);
        object-fit: cover;
      }
    
      .video-overlay {
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    
      .video-button {
        color: #ffffff;
        backdrop-filter: blur(8px);
        background-color: rgba(255,255,255,0.1);
      }

      .video-button:hover{
        text-decoration: none;
        color: #000;
      }

      .video-button::after{
        box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text),var(--border-opacity)),0 0 0 var(--buttons-border-width) #ffffff; 
      }

      .video-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
      }

      @media screen and (max-width: 749px) {
        .video-container .full-video {
          height: calc(70vh);
        }
        
      }

    </style>
    