{% schema %}
    {
      "name": "Full Width Video",
      "tag": "section",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Click me"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ],
      "presets": [
        {
          "name": "Full Width Video",
          "category": "Video"
        }
      ]
    }
    {% endschema %}
    
    <div class="video-container">
      {% if section.settings.video %}
        {{
          section.settings.video
          | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true, class: 'full-video'
        }}
      {% else %}
        <p>Please upload a video from the section settings.</p>
      {% endif %}
    
      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <div class="video-overlay">
          <a href="{{ section.settings.button_link }}" class="button video-button">{{ section.settings.button_text }}</a>
        </div>
      {% endif %}
    </div>
    
    <style>
      .video-container {
        position: relative;
        width: 100%;
        overflow: hidden;
      }
    
      .video-container .full-video {
        width: 100vw;
        height: calc(100vh - 105.5px);
        object-fit: cover;
      }
    
      .video-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }
    
      .video-button {
        background-color: rgba(255,255,255,0.6);
        color: #000;
      }
    
      .video-btn:hover {
        background-color: rgba(255,255,255,1);
      }
    </style>
    