<section class="wide-page">
  <div class="wide-page-wrapper">
    <h1 class="h0">{{ page.title }}</h1>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</section>

<style>
  
  .wide-page{
    max-width: 760px;
    margin: 80px 0 0 200px;
  }

  .wide-block{
    display: flex;
    gap: 40px;
  }

  .wide-block:nth-child(2){
    flex-direction: row-reverse;
  }

  @media screen and (max-width: 749px) {
    .wide-page{
      margin: 60px 20px 0 20px;
    }
    
  }
</style>